body{
  background-color:darkgray;
  align-items: flex-end;
}

header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.header__logo {
  width: 250px;
}

form {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}

.filter__name {
  margin: 0;
  margin-right: 20px;
}

.filter__numeric {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}


.filter__column, .filter__comparison, .filter__number {
  width: 27%;
}
