.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.header__logo {
  width: 250px;
}

.table {
  color: white;
  font-size: 0.8rem;
}

th, td {
  vertical-align: middle;
}

form {
  display: block;
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.filter__name, .filter__remove {
  margin: 0;
}

.filter__numeric, .filter__order {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.filter__name {
  margin-right: 20px;
}

.filter__column, .filter__comparison, .filter__number {
  width: 27%;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
